extends layout.pug

block append head
    // Index main
    script(src='/public/js/index.ko.js')
    // Custom styles
    style.
        .table>tbody>tr>td,
        .table>tbody>tr>th {
        vertical-align: middle;
        }

block append content
    // Set users name
    .col-lg-4.col-sm-4.mt-3
        .card
            .card-body
                .row
                    .col
                        h4.card-title Set user
                    .col-auto
                        button.btn.btn-outline-primary(type='button', href='#') Save
                .row
                    .col
                        .form-group
                            label(for='inputUser') Your name
                            input#inputUser.form-control(type='text', placeholder='User name')
                .row
                    .col
                        .form-group
                            label(for='inputTitle') New item
                            input#inputTitle.form-control(type='text', placeholder='Item title')
    
    // All items content
    .col-lg-8.col-sm-8.mt-3
        .card
            .card-body
                .row
                    .col
                        h4.card-title All items
                    .col-auto
                        button.btn.btn-outline-success(type='button', href='#') Alle Erledigt
            table.table.h-100.m-0
                thead
                    tr
                        th(scope='col') #
                        th(scope='col') Title
                        th(scope='col') User
                        th(scope='col')
                tbody
                    tr
                        th(scope='row') 1
                        td {item->title}
                        td {item->user}
                        td
                            button.btn.btn-success.float-right(type='button') Erledigt