extends layout.pug

block append css
    // Custom style
    style.
        .table>tbody>tr>td,
        .table>tbody>tr>th {
        vertical-align: middle;
        }

block append js
    // Knockout js index model
    script(src='/public/js/index.ko.js')

block append content
    // Set users name
    .col-lg-4.col-sm-4.mt-3
        .card.border-primary
            .card-body
                form(data-bind='submit: addItem')
                    .row
                        .col
                            h4.card-title Set user
                        .col-auto
                            button.btn.btn-outline-primary(type='submit') Save
                    .row
                        .col
                            .form-group
                                label(for='inputUser') Your name
                                input#inputUser.form-control(type='text', placeholder='User name', data-bind='value: currentItem().user')
                    .row
                        .col
                            .form-group
                                label(for='inputTitle') New item
                                input#inputTitle.form-control(type='text', placeholder='Item title', data-bind='value: currentItem().title')
    
    // All items content
    .col-lg-8.col-sm-8.mt-3
        .card
            .card-body
                .row
                    .col
                        h4.card-title All items
                    .col-auto
                        button.btn.btn-outline-success(type='button', href='#') Alle Erledigt
            table.table.table-hover.h-100.m-0
                thead
                    tr
                        th(scope='col') #
                        th(scope='col') Title
                        th(scope='col') User
                        th(scope='col')
                tbody(data-bind='foreach: items')
                    tr
                        th(data-bind='text: $index')
                        td(data-bind='text: title')
                        td(data-bind='text: user')
                        td
                            button.btn.btn-success.float-right(type='button', data-bind='click: $parent.removeItem') Done