doctype html
html(lang='en')
    head
        block head
            meta(charset='utf-8')
            meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
            meta(name='description', content='')
            meta(name='author', content='')
            title Takatukazettel
            block css
                // Bootstrap core
                link(rel='stylesheet', href='/public/css/bootstrap.min.css')
            block js
                // Bootstrap js
                script(src='/public/js/bootstrap.bundle.min.js')
                script(src='/public/js/bootstrap.min.js')
                // Knockout js
                script(src='/bower_components/knockout/dist/knockout.js')
    
    body
        block body
            // Navbar
            nav.navbar.navbar-light.bg-light
                a.navbar-brand(href='#') Takatukazettel
                #navbarNav
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href='/api/items') API
            .container
                .row.align-items-start
                    block content